[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
pillow = "*"
asyncpg = "*"
aiosql = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.10"
